<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
  </head>
  <div class="ui inverted pointing menu" >
    <a class="<%= isActive === 'home' ? 'active item' : 'item' %>" href="/">
      Tour Guide
    </a>
    <a class="<%= isActive === 'places' ? 'active item' : 'item' %>" href="/places">
      Tourist Places
    </a>
    <div class="right menu">
      <% if (!user) { %>
      <a class="<%= isActive === 'register' ? 'active item' : 'item' %>" href="/register">
        Register
      </a>
      <a class="<%= isActive === 'login' ? 'active item' : 'item' %>" href="/login">
        Login
      </a>
      <% } %>
      <% if (user) { %>
        <a class="item" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
  <body style="background-color: darkgray">
    <div class="ui segment" style="background-color:azure">